# Entorno virtual de Python
venv/

# Archivos de macOS
.DS_Store
.AppleDouble
.LSOverride

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/